@use "variables" as *;
@use "reset" as *;
@use "dropdown-button" as *;
@use "dropdown-list" as *;

// Match all font picker IDs (e.g. "font-picker", "font-picker-main", ...)
div[id^="font-picker"] {
	position: relative;
	display: inline-block;
	width: 200px;
	box-shadow: $box-shadow;
}

// Apply the dropdown class to the same element
div[id^="font-picker"] {
	@extend .font-picker-dropdown;
}
